# Import Libraries

In [1]:
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### Import csv using pandas

In [2]:
basket_data = pd.read_csv("/Users/andrew/Downloads/UW courses/ECON 607/Assignment 2/MarketBasketAnalysisData.csv")
basket_data

   ID  Oranges  Apples  Bananas  Berries  Pears  Grapes
0   1        1       1        0        0      0       0
1   2        1       0        1        1      1       0
2   3        0       1        1        1      0       1
3   4        1       1        1        1      0       0
4   5        1       1        1        0      0       1
5   6        1       1        0        0      0       0
6   7        1       0        1        1      1       0
7   8        0       1        1        1      0       1
8   9        1       1        1        1      0       0
9  10        1       1        1        0      0       1

### Drop ID column from dataframe

In [3]:
basket_data = basket_data.drop(['ID'], axis=1)
basket_data

   Oranges  Apples  Bananas  Berries  Pears  Grapes
0        1       1        0        0      0       0
1        1       0        1        1      1       0
2        0       1        1        1      0       1
3        1       1        1        1      0       0
4        1       1        1        0      0       1
5        1       1        0        0      0       0
6        1       0        1        1      1       0
7        0       1        1        1      0       1
8        1       1        1        1      0       0
9        1       1        1        0      0       1

### Use apriori tool to set minimum support to 40%

__Support__: Percentage of customers that buy the good

In [12]:
frequentsets = apriori(basket_data, min_support=0.4, use_colnames=True)
frequentsets

/Users/andrew/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                     itemsets
0       0.8                    (Oranges)
1       0.8                     (Apples)
2       0.8                    (Bananas)
3       0.6                    (Berries)
4       0.4                     (Grapes)
5       0.6            (Apples, Oranges)
6       0.6           (Bananas, Oranges)
7       0.4           (Berries, Oranges)
8       0.6            (Bananas, Apples)
9       0.4            (Berries, Apples)
10      0.4             (Grapes, Apples)
11      0.6           (Berries, Bananas)
12      0.4            (Grapes, Bananas)
13      0.4   (Apples, Bananas, Oranges)
14      0.4  (Berries, Bananas, Oranges)
15      0.4   (Berries, Bananas, Apples)
16      0.4    (Grapes, Bananas, Apples)

### Use Association rules to get minimum lift of 1

__Antecdents__: The preceding good "If" <br>
__Consequents__: The following good "then" <br>
__Support__: The percentage of customers that bought both goods <br>
__Confidence__: Those who bought 'Antecdent' also bought 'Consequent' x amount of the time (in percentage) <br>

In [20]:

rules = association_rules(frequentsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Grapes),(Apples),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
1,(Apples),(Grapes),0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
2,(Berries),(Bananas),0.6,0.8,0.6,1.000000,1.250000,0.12,inf,0.500000
3,(Bananas),(Berries),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6,1.000000
4,(Grapes),(Bananas),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
5,(Bananas),(Grapes),0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
6,"(Berries, Oranges)",(Bananas),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
7,"(Bananas, Oranges)",(Berries),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
8,(Berries),"(Bananas, Oranges)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
9,(Bananas),"(Berries, Oranges)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
10,"(Berries, Apples)",(Bananas),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
11,"(Bananas, Apples)",(Berries),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
12,(Berries),"(Bananas, Apples)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,0.250000
13,(Bananas),"(Berries, Apples)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
14,"(Grapes, Bananas)",(Apples),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
15,"(Grapes, Apples)",(Bananas),0.4,0.8,0.4,1.000000,1.250000,0.08,inf,0.333333
16,"(Bananas, Apples)",(Grapes),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1.000000
17,(Grapes),"(Bananas, Apples)",0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
18,(Bananas),"(Grapes, Apples)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000
19,(Apples),"(Grapes, Bananas)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.2,1.000000

### Create a new Dataframe consisting of the antecedents, consequents, support, confidence, & lift

__Support__: Frequency that the rules show up / A and B are bought together
<ul>
    <li>high support = useful relationship
    <li>low support = probably not a useful relationship
</ul>

__Confidence__: Measures reliability of rule / chance to buy B if A was bought
<ul>
    <li>0.5 confidence = 50% of the cases where Bread and Diapers were
        purchased, the purchase also included Beer and Eggs
</ul>

__Lift__: The ratio of the observed support that is expected between A and B
<ul>
    <li> 1: A and B are independent, and no rule can be derived from them
    <li> > 1: A and B are dependent on each other
    <li> < 1: A has a negative effect on B (items are substitutes)
</ul>

In [18]:
basket_data2 = pd.DataFrame(rules, columns=['antecedents', 'consequents', 'support', 'confidence', 'lift'])
basket_data2

           antecedents         consequents  support  confidence      lift
0             (Grapes)            (Apples)      0.4    1.000000  1.250000
1             (Apples)            (Grapes)      0.4    0.500000  1.250000
2            (Berries)           (Bananas)      0.6    1.000000  1.250000
3            (Bananas)           (Berries)      0.6    0.750000  1.250000
4             (Grapes)           (Bananas)      0.4    1.000000  1.250000
5            (Bananas)            (Grapes)      0.4    0.500000  1.250000
6   (Berries, Oranges)           (Bananas)      0.4    1.000000  1.250000
7   (Bananas, Oranges)           (Berries)      0.4    0.666667  1.111111
8            (Berries)  (Bananas, Oranges)      0.4    0.666667  1.111111
9            (Bananas)  (Berries, Oranges)      0.4    0.500000  1.250000
10   (Berries, Apples)           (Bananas)      0.4    1.000000  1.250000
11   (Bananas, Apples)           (Berries)      0.4    0.666667  1.111111
12           (Berries)   (Bananas, Apples)      0.4    0.666667  1.111111
13           (Bananas)   (Berries, Apples)      0.4    0.500000  1.250000
14   (Grapes, Bananas)            (Apples)      0.4    1.000000  1.250000
15    (Grapes, Apples)           (Bananas)      0.4    1.000000  1.250000
16   (Bananas, Apples)            (Grapes)      0.4    0.666667  1.666667
17            (Grapes)   (Bananas, Apples)      0.4    1.000000  1.666667
18           (Bananas)    (Grapes, Apples)      0.4    0.500000  1.250000
19            (Apples)   (Grapes, Bananas)      0.4    0.500000  1.250000

In [25]:
filtered_data = basket_data2.loc[basket_data2['support'] >= 0.5]
filtered_data

  antecedents consequents  support  confidence  lift
2   (Berries)   (Bananas)      0.6        1.00  1.25
3   (Bananas)   (Berries)      0.6        0.75  1.25